### Skydive analyzer config file

auth:
  type: noauth

logging:
  default: DEBUG
  #topology/probes: INFO
  #topology/graph: INFO

openstack:
  #auth_url: {{ keystone_admin_url }}
  auth_url: http://172.28.128.31:35357/v3
  username: {{ openstack_auth['username'] }}
  password: {{ openstack_auth['password'] }}
  tenant_name: {{ openstack_auth['project_name'] }}
  region_name: RegionOne
  domain_name: {{ openstack_auth['domain_name'] }}

etcd:
  embeded: true
  client_timeout: 100

analyzer:
  listen: {{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['api_interface']]['ipv4']['address'] }}:{{ skydive_analyzer_port }}
  flowtable_expire: 60
  flowtable_update: 5
  flowtable_agent_ratio: 0.5
  storage: elasticsearch
  topology:
    fabric:
      - TOR1[Name=tor1] -> TOR1_PORT1[Name=port1, MTU=1500]
      - TOR1_PORT1 -> *[Type=host,Name={{ ansible_hostname }}]/eth1

storage:
  elasticsearch:
    #host: {{ elasticsearch_address }}:{{ elasticsearch_port }}
    host: {{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['api_interface']]['ipv4']['address'] }}:{{ elasticsearch_port }}
    maxconns: 10
    retry: 60

graph:
  embeded: true
  client_timeout: 100

